body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: image();
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#about{
    display: flex;
    display:list-item;
    /* justify-content: space-between;
    text-align:center;
    justify-items: flex-start; */
   
}

#about img{
    float: right;
}

section {
    margin: 20px;
}

h2 {
    color: #333;
}

.project {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
